<div class="container">
<h2>Shops</h2>
<% @commerces.each_slice(3) do |commerces| %>
  <div class="row">
    <% commerces.each do |commerce| %>  
      <div class="col-md-4">
        <div class="row">
          <%= link_to commerce do %>
            <div class="grid effect-apollo"> 
              <%= image_tag commerce.logo.url(:large), class: "commerce-logo" %>
              <div class="figcaption">
                <p style="font-size: 20px;"><%= commerce.commerce_name %></p>
              </div> 
            </div> 
          <% end %> 
          <p style="font-size: 20px;"><%= commerce.commerce_name %></p>
        </div>
      </div>  
    <% end %>
  </div>  
<% end %>
</div>
