<h1>Commerces</h1>
<% @commerces.each_slice(3) do |commerces| %>
  <div class="row">
    <% commerces.each do |commerce| %>  
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-5">
          </div>    
          <div class="col-md-7">
            <%= link_to commerce do %>
              <h3><%= commerce.commerce_name %></h3>
            <% end %>
          </div>
        </div>  
      </div>
    <% end %>
  </div>  
<% end %>