<section class="about" id="about" style="margin-bottom: 175px;">
    <div class="container">
    <div class="main_service_area sections text-center">
        <div class="head_title text-center">
            <h2 style="color: #3C472F">À propos</h2>
        </div>
        <h6 class="text-center">Quest-ce que <span class="helv-font">kusele</span>? <span class="helv-font green">kusele</span> est une solution qui permettra aux différents commerces gastronomiques (supermarchés, restaurants, boulangeries) de publier des offres pour liquider son stock.</h6>    
    </div>
    </div>
</section>